<cp-tripdetails [currentTrip]="currentTrip"></cp-tripdetails>

<div class='card' *ngFor='let m of this.conversation?.messages; let i = index'>
    <div class='card-header'>
        {{i + 1}}. Mesaj {{m.direction == 'in' ? "(Gelen)" : "(Giden)"}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Tarih:</div>
            <div class='col-md-4'>{{m.date}}</div>
        </div>
    </div>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Mesaj:</div>
            <div class='col-md-4'>{{m.text}}</div>
        </div>
    </div>
</div>
<div class='card'>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Onay ver:</div>
            <div class='col-md-4'><input type="checkbox" [(ngModel)]='approval' (change)="onApprovalChange()"></div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Yeni Mesaj:</div>
            <div class='col-md-4'><input type='text' size ="60" [(ngModel)]='newmessage'/></div>
        </div>
    </div>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-4'>
                <button class=' btn btn-primary'
                        (click)='sendMessage()'>
                    Gonder
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="this.canViewContactInfo()" class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Talep eden telefon:</div>
            <div class='col-md-4'>{{this.conversation?.requestercontact?.phone}}</div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Talep eden e-posta:</div>
            <div class='col-md-4'>{{this.conversation?.requestercontact?.email}}</div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Yolculuk sunan telefon:</div>
            <div class='col-md-4'>{{this.conversation?.suppliercontact?.phone}}</div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Talep eden e-posta:</div>
            <div class='col-md-4'>{{this.conversation?.suppliercontact?.email}}</div>
        </div>
    </div>

</div>