<div class='card'>
<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand bosluk' routerLinkActive='active' routerLink='/welcome'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/triplist'>Yolculuk Listesi</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/addtrip'>Yolculuk Ekle</a></li>
    </ul>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' *ngIf=!isLoggedIn() routerLinkActive='active' routerLink='/login'>Giris Yap</a></li>
        <li><a class='nav-link' *ngIf=isLoggedIn() routerLinkActive='active' routerLink='/logout'>Cikis Yap</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/register'>Kayit Ol</a></li>
    </ul>
</nav>
</div>
<div *ngIf=isError() [ngClass]="errorDivClass">
    <div>
        Hata: {{ errorMessage }}
    </div>
</div>
<div *ngIf=isInfo() [ngClass]="infoDivClass">
    <div>
        Bilgi: {{ infoMessage }}
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>