<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand' routerLinkActive='active' routerLink='/welcome'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/trip-list'>Trip List</a></li>
    </ul>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' *ngIf=!isLoggedIn() routerLinkActive='active' routerLink='/login'>Login</a></li>
        <li><a class='nav-link' *ngIf=isLoggedIn() routerLinkActive='active' routerLink='/logout'>Logout</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/register'>Register</a></li>
    </ul>
</nav>
<div class='container'>
    <router-outlet></router-outlet>
</div>