<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand' routerLinkActive='active' routerLink='/welcome'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/trip-list'>Yolculuk Listesi</a></li>
    </ul>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' *ngIf=!isLoggedIn() routerLinkActive='active' routerLink='/login'>Giris Yap</a></li>
        <li><a class='nav-link' *ngIf=isLoggedIn() routerLinkActive='active' routerLink='/logout'>Cikis Yap</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/register'>Kayit Ol</a></li>
    </ul>
</nav>
<div class='container'>
    <div *ngIf=isError()
         class='alert alert-danger'>
        Error: {{ getErrorMessage() }}
    </div>
    <router-outlet></router-outlet>
</div>