<div class='card'>
    <div class='card-header'>
        Bi Yolculuga kaydol
    </div>
    <div class='card-body'>

        <div class='row'>
            <div class='col-md-2'>Ad:</div>
            <div class='col-md-4'><input type='text' [(ngModel)]='name'/></div>
        </div>

        <div class='row'>
            <div class='col-md-2'>E-posta:</div>
            <div class='col-md-4'><input type='text' [(ngModel)]='email'/></div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Telefon:</div>
            <div class='col-md-4'><input type='text' [(ngModel)]='phone'/></div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Sifre:</div>
            <div class='col-md-4'><input type='text' [(ngModel)]='password'/></div>
        </div>

        <div class='row'>
            <div class='col-md-2'>Sifre Tekrar:</div>
            <div class='col-md-4'><input type='text' [(ngModel)]='passwordAgain'/></div>
        </div>
        <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-4'>
                <button class=' btn btn-primary'
                        (click)='kaydol()'>
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
