<div class='card'>
    <div class='card-header'>
        Bi Yolculuğa kaydol
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Ad:</div>
            <div class='col-md-4'><input type='text' required  [(ngModel)]='name'/></div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>E-posta:</div>
            <div class='col-md-4'><input type='text' required [(ngModel)]='email'/></div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Telefon:</div>
            <div class='col-md-4'><input type='text' required [(ngModel)]='phone'/></div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Şifre:</div>
            <div class='col-md-4'><input type='password' required [(ngModel)]='password'/></div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Şifre Tekrar:</div>
            <div class='col-md-4'><input type='password' [(ngModel)]='passwordAgain'/></div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-4'>
                <button class=' btn btn-primary'
                        (click)='register()'>
                    Kaydol
                </button>
            </div>
        </div>
    </div>
</div>
