<div class='card'>
    <div class='card-header'>
        Kullanıcı Onay Ekranı
    </div>
    <div class='card-body'>

        <div class='row'>
            <div class='col-md-4'>Onay kodunu girin:</div>
            <div class='col-md-4'><input type='text' [(ngModel)]='code'/></div>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4'>
                <button class=' btn btn-primary'
                        (click)='confirmUser()'>
                    Gönder
                </button>
            </div>
        </div>
    </div>
</div>